.record-section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 20px 0px;
  border-bottom: 2px solid blue;
  justify-content: space-between;
}

header p {
  font-weight: 800;
  text-transform: uppercase;
}

header button {
}

.table-container {
  width: 100%;
  margin: 50px 0px 50px 0px;
  height: fit-content;
  font-family: Arial, sans-serif;
}

.record-item {

}

th,
td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}



@media  (min-width:320px) and (max-width:480px) {
  
  .container {
    width: 95%;
    margin: auto;
  }
   
}
