<tbody>
  <tr>
    <th>Title</th>
    <td id="title">Medical Record 1</td>
  </tr>
  <tr>
    <th>Description</th>
    <td id="description">Patient's general check-up</td>
  </tr>
  <tr>
    <th>Attending Physician</th>
    <td id="attendingPhysician">Dr. Smith</td>
  </tr>
  <tr>
    <th>Hospital</th>
    <td id="hospital">City Hospital - New York</td>
  </tr>
  <tr>
    <th>Duration of Treatment</th>
    <td id="durationOfTreatment">1 week</td>
  </tr>
  <tr>
    <th>Cost</th>
    <td id="cost">$200</td>
  </tr>
</tbody>
