

<div class="table-container">
  <header>
    <p>Biodata</p>

  </header>
  <table>
    <tbody>
      <tr>
        <th>ID</th>
        <td id="id">1</td>
      </tr>
      <tr>
        <th>First Name</th>
        <td id="firstName">John</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td id="lastName">Doe</td>
      </tr>
      <tr>
        <th>Age</th>
        <td id="age">35</td>
      </tr>
      <tr>
        <th>Height</th>
        <td id="height">6'2"</td>
      </tr>
      <tr>
        <th>Weight</th>
        <td id="weight">180 lbs</td>
      </tr>
     
      <tr>
        <th>Gender</th>
        <td id="gender">M</td>
      </tr>
      <tr>
        <th>Address</th>
        <td id="address">123 Main Street, Anytown, USA</td>
      </tr>
      <tr>
        <th>Blood Group</th>
        <td id="bloodGroup">A+</td>
      </tr>
      <tr>
        <th>Genotype</th>
        <td id="genoType">AA</td>
      </tr>
    </tbody>
  </table>
</div>
