.mainMenu {
  background-color: rgba(1, 1, 7, 0.463);
  height: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  top: 70px;
  position: fixed;
  color: #fff;
  overflow-y: hidden;
  z-index: 2;
  width: 100%;
}


.mobileMenu{
  padding-top: 14px;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 0px;
}

.perMenu {
  background-color: blue;
  font-weight: 800;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  line-height: 2;
  list-style: none;
  margin-bottom: 20px;
  border: 0.4px solid #ffffff6e;
}


.mini-show{
  width: 100%;
}

.item-show {
  animation: animateItem 1s ease-in;
}

.item-hide {
  width: 0%;
}

.show {
  width: 100%;
  transform: rotateZ(0deg);
  transition: all 0.4s ease-in;
}

.hide {
  width: 0%;
  transform-origin: bottom;
  transform: rotateZ(-180deg);
}

@keyframes animateItem {
  0% {
    width: 0%;
    opacity: 0;
  }
  20% {
    width: 10%;
    opacity: 0;
  }

  40% {
    width: 25%;
    opacity: 0.5;
  }
  50% {
    width: 40%;
    opacity: 0.7;
  }
  70% {
    width: 60%;
    opacity: 0.9;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
