.mainMenu {
  background-color: blue;
  height:auto;
  padding-bottom: 10px;
  top: 0px;
  width: 0%;
  transition: all 0.3s;
  position: fixed;
  color: #fff;
  overflow-y: hidden;
  z-index: 2;
  padding-top: 55px;
}

.mobileMenu{

}

.perMenu{
    padding: 4px;
    width: 80%;
    margin: auto;
    display: flex;
    height: 40px;
    /* line-height: 3; */
    align-items: center;
    justify-content: flex-start;
}

.show {
  width: 100%;
}

.hide {
  width: 0px;
}
